spring:
  config:
    activate:
      on-profile: prod

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none

  mail:
    properties:
      mail:
        smtp:
          auth: false

logging:
  level:
    root: info

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}
  refresh-expiration: ${JWT_REFRESH_EXPIRATION}

springdoc:
  api-docs:
    enabled: false
